<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input
            matInput
            class="form-control"
            placeholder="Email"
            type="email"
            formControlName="email"
            required
          />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input
            matInput
            class="form-control"
            placeholder="Password"
            type="password"
            formControlName="password"
            required
          />
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        [disabled]="!loginForm.valid"
      >
        Log in
      </button>
    </form>
    <br />
    <a class="link footer-link" [routerLink]="['/register']">
      Create an Account? Register
    </a>
  </mat-card>
</div>
